<ion-view title="Donate Money" id="page6">
  <ion-content padding="true" class="has-header">
    <a href-inappbrowser="crowdfunding website" id="donateMoney-button10" class="button button-positive button-block">Donate Money Here!</a>
    <div class="spacer" style="height: 100px;"></div>
    <div id="donateMoney-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:24px;">Thanks for your donation!</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="menu.home()" id="donateMoney-button11" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>