<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/VcwRSVXXT4qGaSbIh1gG_image.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.donate()" id="home-button6" class="button button-positive button-block">Share Your Hair!</a>
    <div id="home-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">We are a nonprofit, and we do not take any money from the societies that we connect you to, and if you would like to help make this possible, consider donating some money, every dollar counts!</p>
    </div>
    <a ui-sref="menu.donateMoney()" id="home-button7" class="button button-positive button-block">Donate Money</a>
  </ion-content>
</ion-view>